<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <title>Nifty Gainers &amp; Losers</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

  <script type="text/javascript" src="/static/poll.js"></script>
  <link rel="stylesheet" href="static/styles.css">
</head>

<body class="body">
  <div class="container">
    <div id="gainer_scrips" class="card-columns"></div>
    <hr>
    <div id="loser_scrips" class="card-columns"></div>
  </div>
</body>

<script id="template" type="x-tmpl-mustache">
  {{#scrips}}
    <div class="card">
      <div class="card-block">
        <h5 class="card-title">{{symbol}}</h5>
          <ul class="list-group">
            <li class="list-group-item">
              LTP - {{ltp}}
            </li>
            <li class="list-group-item">
              % Change - {{percent_change}}
            </li>
          </ul>
      </div>
    </div>
  {{/scrips}}
</script>


</html>
